
{#<pre>{{dump(field)}}</pre> #}
{#{% if scope %}
    {% set field.id = scope ~ '_' ~ field.id %}
{% endif %}#}
{% if not field.render == "false" %}


    {% if field.type == "hidden" or field.type == "clearfix" %}    	
        {% include "form/input/#{field.type|default('hidden')}.twig" %}
    {% else %}
        <div class="form-group {{field.class | default('col-xs-12')}}">       	
            {% include "form/input/#{field.type|default('text')}.twig" %}
        </div>
    {% endif %}
{% endif %}
