{#<pre>{{ dump(form.data) }}</pre>#}

    {% for group in form.data %}
        {% if group.fields %} 
            {{ include('form/group.twig') }}
        {% else %}            
            {% set field = group %}
            {{ include('form/field.twig') }}
        {% endif %}
    {% endfor %} 
    <button type="submit">Odeslat</button>

