/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.11.2016, 17:40:24
    Author     : Balgor
*/
.tree-container {
    .deep-tree-panel {
        width: 48%;
        float: left;
        position: relative;
    }
    .toolbar-panel {
        margin-left: 2%;
        height: 100%;
        .deep-tree-slider {
            width: 100%;
            &.affix {
                top:20px;
            }
        }
    }
    .tree-panel {        
        margin-right: 2%;
    }
}