<label class="control-label" for="{{field.id}}">{{field.title|translate }}:</label>
{% if field.prefix %}
    <span class="input-group-addon">{{field.prefix}}</span>
{% endif %}

<input type="{{field.type}}" class="form-control check" name="{{field.name}}" id="{{field.id}}" 
       autocomplete="{{field.autocomplete}}" 
       placeholder="{{field.placeholder}}" 
       {% if field.disabled %}
           disabled
       {% endif %}
       {% if field.readonly %}
           readonly
       {% endif %}
       {% block value %}value="{{field.value}}"{% endblock %}
       {% block attributes %}{% endblock %}
     />  
                
{% if field.postfix %}
    <span class="input-group-addon">{{field.postfix}}</span>
{% endif %}
{% block addendum %}{% endblock %}
<span class="help-block">{% block help_block %}{% endblock %}</span>