
<label>
    <input type="checkbox" class="check" name="{{field.name}}" id="{{field.id}}" 
           autocomplete="'{{field.autocomplete}}" 
           placeholder="{{field.placeholder}}" 
           value="true"
           {% if field.disabled %}
               disabled
           {% endif %}
           {% if field.readonly %}
               readonly
           {% endif %}
           {% if field.value == "true" %}
               checked
           {% endif %}        
           />  
    {{field.title|translate }}
</label>