{% if field.value is iterable %}
    {%for value in field.value %}
        <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ value }}" />
    {% endfor %}
{% else %}
    <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}" />
{% endif %}
