<label for="{{field.id}}">{{field.title|translate }}:</label>

<select class="form-control" 
        name="{{field.name}}{% if field.array %}[]{% endif %}"
        id="{{field.id}}" 
        {% if field.disabled %}
            disabled
        {% endif %}
        >
    {% for option in field.attributes.options %}
        <option 
            id="{{ "#{field.id}_option_#{option.value}"}}" 
            value="{{option.value}}"
            {% if field.value == option.value %}
                selected
            {% endif %}
            >
            {{option.title}}
        </option>
     {% else %}
         <option>ERROR IN FORM DEFINTION</option>
    {% endfor %}
</select>
<span class="help-block"></span>
