<h1>Page not found</h1>
<p>We are sorry. The page <?php echo $this->url; ?> was not found on this server</p>
<?php 
    if (core()->getConfig()['website']['display_error'] === true) {
       echo $this->error;
    }
?>
<p><a href="<?php echo $this->home; ?>">Navigate to Home</a></p>