<h1>Error encountered in application</h1>
<p>We are sorry, error occured and we could process your request, try again later</p>
<?php 
    if (core()->getConfig()['website']['display_error'] === true) {
       echo $this->error;
    }
?>
<p><a href="<?php echo $this->home; ?>">Navigate to Home</a></p>