<?php
/* @var $this Core */
$this->header()->doctype(5);
?>
<html <?php $this->header()->htmlLang(); ?>>
    <head>
        <?php
        $this->header()->setEncoding('utf');
        $this->header()->addCoreCSS("https://js.voidmass.com/foundation/6/foundation.min.css");
        $this->header()->addCoreCSS("https://js.voidmass.com/foundation/6/icons/foundation-icons.css");
        $this->header()->addCoreCSS("https://js.voidmass.com/singform/3.0/jQuery.form.css");
        $this->header()->addCoreCSS("/_assets/_css/app.css");

        $this->header()->addJquery('latest');
        $this->header()->addCoreJS("https://js.voidmass.com/deep/1.0/_js/essentials.js");
        $this->header()->addCoreJS("https://js.voidmass.com/singform/3.0/jQuery.form.js");
        $this->header()->addCoreJS("/_assets/_js/Core.js");

        $this->header()->addAnalytics("");

        $this->header()->printHeader();
        ?>
        <!--<link rel="icon" href="/favicon.ico" type="image/x-icon"/>-->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="content">
            <header>           
                <nav>
                    <?php
                    echo $this->getMenuLoader()->printMenu("main");
                    ?>
                </nav>                
            </header>

            <?php
            echo $this->getPage();
            ?>

            <footer>
                voidmass technologies &COPY; <?php echo date('Y');?>
            </footer>
        </div>
        <div class="reveal" id="modal00" data-reveal></div>
        <div class="reveal" id="modal01" data-reveal></div>        
        <script src="https://js.voidmass.com/foundation/6/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>