
<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Stránka nenalezena!</h3>

        <p>
            Požadovanou stránku jsme bohužel u nás nenašli.
            Mezitím se můžete vrátit na <a href="/">vaši nástěnku</a>.
        </p>
        
        <p>
            <?php
        if (core()->getConfig()['website']['display_error'] === true) {
            echo $this->error;
        }
        ?>
        </p>

<!--        <form class="search-form">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search">

                <div class="input-group-btn">
                    <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
             /.input-group 
        </form>-->
    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->