<div class="error-page">
    <h2 class="headline text-red">500</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> V Aplikaci se vyskytla chyba</h3>

        <p>
            Moc se omlouváme, ale něco je špatně. Hned se na to jdeme podívat!
             Mezitím se můžete vrátit na <a href="/">vaši nástěnku</a>.
        </p>
        <?php
        if (core()->getConfig()['website']['display_error'] === true) {
            echo $this->error;
        }
        ?>
        <!--          <form class="search-form">
                    <div class="input-group">
                      <input type="text" name="search" class="form-control" placeholder="Search">
        
                      <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                     /.input-group 
                  </form>-->
    </div>
</div>
<!-- /.error-page -->